{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Description list ({{ pagination.getTotalItemCount }}) <a href="{{ path(base_route ~ '_create') }}" class="pull-right btn btn-success">Add <i class="glyphicon glyphicon-plus"></i></a></h1>
        <table class="table table-striped">
            <tr>
                <th>Support</th>
                <th>Country</th>
                <th>Printing Method</th>
                <th>Action</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.support }}</td>
                    <td>{{ item.country }}</td>
                    <td>{{ item.printingMethod }}</td>
                    <td>
                        <span class="btn-group">
                            <a href="{{ path(base_route ~ '_edit', {'id':item.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
