{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>
            Product list ({{ pagination.getTotalItemCount }})
            <span class="pull-right">
                <a href="{{ path(base_route ~ '_create') }}" class="btn btn-success">Add <i class="glyphicon glyphicon-plus"></i></a>
                <a href="{{ path(base_route ~ '_synchronize') }}" class="btn btn-info">Synchronize <i class="glyphicon glyphicon-refresh"></i></a>
            </span>
        </h1>
        <table class="table table-striped">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'e.id') }}</th>
                <th{% if pagination.isSorted('e.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'e.name') }}</th>
                <th{% if pagination.isSorted('e.readySynchronization') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Ready to synchornize', 'e.readySynchronization') }}</th>
                <th{% if pagination.isSorted('e.synchronizedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Synchronize date', 'e.synchronizedAt') }}</th>
                <th{% if pagination.isSorted('e.gender.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Gender', 'e.gender.name') }}</th>
                <th{% if pagination.isSorted('e.support.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Support', 'e.support.name') }}</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td><a href="{{ path(base_route ~ '_edit', {'id':item.id}) }}">{{ item.id }}</a></td>
                    <td>{{ item }}</td>
                    <td>{{ item.readySynchronization ? 'Yes' : 'No' }}</td>
                    <td>{{ item.synchronizedAt ? item.synchronizedAt | date : '' }}</td>
                    <td>{{ item.gender }}</td>
                    <td><a href="{{ path('rad_magento_admin_support_edit', {'id':item.support.id}) }}">{{ item.support }}</a></td>
                    <td>
                        <ul>
                            {% for category in item.categories %}
                                <li>{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <span class="btn-group">
                            <a href="{{ path(base_route ~ '_edit', {'id':item.id}) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                            <a href="{{ path(base_route ~ '_fields', {'product':item.id}) }}" class="btn btn-info"><i class="glyphicon glyphicon-flag"></i> Edit fields</a>
                            <a href="{{ path(base_route ~ '_show', {'product':item.id}) }}" class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i> Show</a>
                            {#<a href="{{ path(base_route ~ '_delete', {'id':item.id}) }}" disabled class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete product</a>#}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
