<div>
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.shortName) }}
    {{ form_row(form.hexaColor) }}
    {{ form_row(form.disabled) }}

    <hr />
    <h3>Names</h3>

    {% for child in form.labels.children %}
        {{ form_row(child.children.country) }}
        {{ form_row(child.children.name) }}
    <hr style="border-color:#000;" />
{% endfor %}
<hr />
{{ form_rest(form) }}
<input type="submit" class="btn btn-primary" value="submit">
{{ form_end(form) }}
<script type="text/javascript">
    jQuery(function() {
        jQuery('select[readonly]').each(function(){
            $(this).data('val', $(this).val()).change(function(){
                if (!$(this).val() != $(this).data('val')) {
                    $(this).val($(this).data('val'));
                }
            });
        })
    });
</script>

<input type="submit" class="btn btn-primary" value="submit">
{{ form_end(form) }}